/* Profile Picture */
#profile-pic{
    height: 40rem;
    width: auto;
}

/* Container */
.grid-container-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

/* Right Container */
.grid-container-about ul{
    max-width: 50%;
}

/* Right Container */
.grid-right-about{
    background-color: var(--primary-color);
    height: 40rem;
    width: 50rem;
}

/* Add a class for collapsed content */
.collapsible-content {
    display: block; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: var(--primary-color);
  }
 
  /* Adjust the button styles as needed */
  .collapsible-button {
    background-color: var(--text-color);
    color: var(--box-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: none;
  }
  
  /* Expand the content when not collapsed */
  .collapsible-content:not(.collapsed) {
    max-height: 1000px; /* Set a large value to allow for expansion */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 850px) {
    #about h2{
        margin-bottom: 27rem;
    }
    /* Container */
    .grid-container-about{
        max-width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30rem;
    }
    /* Right Container */
    .grid-right-about{
        background-color: var(--primary-color);
        height: 70rem;
        width: 20rem;
    }
    /* Hide the collapse button initially */
    .collapsible-button {
      display: flex;
      align-items: center;
    }
    /* Show the collapsed content when button is toggled */
    .collapsible-content.collapsed {
      max-height: 1000px; 
    }
        /* Profile Picture */
    #profile-pic{
        height: 20rem;
        width: auto;
        margin-bottom: 10%;
    }
    .grid-right-about .card h2{
        display: none;
    }
}