/* H2 margin */
h1 {
  margin-bottom: .5%;
}

/* H2 margin */
h2 {
  margin-bottom: 4%;
}

/* Center the container horizontally */
.main-cont {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Grid Container About*/
.grid-container-about {
  display: grid; 
  grid-template-columns: min-content 1fr; 
  height: 50rem; 
  gap: 5rem;
  /* max-width: 100%; */
  /* width: auto; */
}

/* About Picture */
#profile-pic {
  height: 40rem;
  width: 30rem; 
  object-fit: cover; 
  z-index: 1000;
  /* margin-top: 20%; */
}
/* About Picture 
#profile-pic:hover {
  box-shadow: 0 0 10px var(--primary-color); 
} 
*/

/* Grid RIGHT  */
.grid-right-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40rem;
  background: var(--background-color);
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(32, 32, 33) 35%, rgb(46, 46, 46) 100%);
}

/* Card Styles */
.card {
  padding: 2rem;
  border-radius: 1rem;
  color: var(--white-color);
  text-align: center;
  height: 20rem;
  width: 30rem;
  max-width: 100%;
  }
  .card h2{
  font-size: var(--secondary-font-size);
  margin-bottom: -2%;
  color:var(--white-color);
  }
  .card ul, .card p{
    text-align: left;
    font-size: var(--third-font-size);
    margin-left: 10%;
  }
  .card li {
      list-style-type: circle;
      margin-bottom: 4px;
      max-width: 85%;
  }

/* Text Line */
.text-line {
  /* border-bottom: 5px solid rgb(255, 255, 255); */
  border-bottom:6px solid var(--text-color);
  max-width: 70%;
  margin: 0 auto;
  margin-top: 4%;
  }
  /* Text Line Hover */
  .card:hover .text-line{
    border-bottom: 6px solid var(--primary-color);
    }


/* Media Container */
@media (max-width: 850px) {
  .grid-container-about {
    grid-template-columns: 0fr; 
    grid-template-rows: min-content auto; 
    height: auto; 
    margin-bottom: 15%;
  }
  .grid-right-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; 
    margin-bottom: 3rem;
  }
  .grid-profile{
    display: flex;
  }
  #profile-pic {
    height: auto;
    margin: 0 auto;
  }
  #profile-pic , .card{
    width: 15rem;
  }
  .card h2{
    font-size: var(--secondary-font-size-shrink);
    margin-bottom: -1%;
    }
  .card{
    height: auto;
    width: 15rem;
  }
  .card ul, .card p{
    text-align: left;
    margin-left: 0%;
    font-size: var(--third-font-size-shrink);
  }
}