/* H2 margin */
h1 {
  margin-bottom: .5%;
}

/* H2 margin */
h2 {
  margin-bottom: 4%;
}

/* Center the container horizontally */
.main-cont {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Grid MAIN*/
.grid-container-about {
  display: grid; 
  grid-template-columns: min-content 1fr; 
  width: auto;
  height: 50rem; 
  max-width: 100%;
  gap: 5rem;
}

/* About Picture */
#profile-pic {
  height: 40rem;
  width: rem; 
  object-fit: cover; 
  z-index: 1000;
  /* margin-top: 20%; */
}

/* Grid RIGHT  */
.grid-right-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40rem;
}

/* Card Styles */
.card {
  padding: 2rem;
  border-radius: 1rem;
  color: var(--white-color);
  text-align: center;
  height: 20rem;
  width: 30rem;
  max-width: 100%;
  }
  /* Card Hover */
  .card:hover {
    background-color: var(--box-color);
  }
  .card 
  /* card H2 */
  .card h2{
  font-size: 2rem;
  font-family: var(--main-font);
  margin-bottom: -2%;
  }
  /* Grid Container Skills */
  .grid-section-about .card p{
    font-size: 1.3rem;
    margin-top: 2%;
    text-align: center;
}

/* Text Line */
.text-line {
  /* border-bottom: 5px solid rgb(255, 255, 255); */
  border-bottom:6px solid var(--white-color);
  max-width: 70%;
  margin: 0 auto;
  margin-top: 4%;
  }
  /* Text Line Hover */
  .card:hover .text-line{
    border-bottom:6px solid var(--primary-color);
  }


  /* Media Container */
@media (max-width: 600px) {
  .grid-container-about {
    grid-template-columns: 1fr; 
    grid-template-rows: min-content 1fr; 
    height: auto; 
  }

  .grid-right-about {
    grid-template-columns: 1fr; 
    margin-bottom: 120%;
  }

  #profile-pic {
    width: 100%; 
    height: auto; 
  }
}