/* Set Vars */
:root{
  --height: 40rem;
  --width: 30rem;
  --width-right: 60rem;
  --width-right-shrink: 30rem;
  --height-right-shrink: 60rem;
}

/* H2 margin */
h1 {
  margin-bottom: .5%;
}

/* H2 margin */
h2 {
  margin-bottom: 4%;
}

/* Center the container horizontally */
.main-cont {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Grid Container About*/
.grid-container-about {
  display: grid; 
  grid-template-columns: min-content 1fr; 
  height: 50rem; 
  gap: 5rem;
  /* max-width: 100%; */
  /* width: auto; */
}

/* About Picture */
#profile-pic {
  height: var(--height);
  object-fit: cover; 
  z-index: 1000;
  /* margin-top: 20%; */
}
/* About Picture 
#profile-pic:hover {
  box-shadow: 0 0 10px var(--primary-color); 
} 
*/

/* Grid RIGHT  */
.grid-right-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--height);
  background-color: var(--primary-color);
  border-radius: .8rem;
  width: var(--width-right);
  /* background: var(--background-color);
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(32, 32, 33) 35%, rgb(46, 46, 46) 100%); */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%233A383C' cx='50' cy='0' r='50'/%3E%3Cg fill='%23373539' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343236' cx='50' cy='100' r='50'/%3E%3Cg fill='%23313033' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e2d30' cx='50' cy='200' r='50'/%3E%3Cg fill='%232c2a2d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2329272a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23262427' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232224' cx='50' cy='400' r='50'/%3E%3Cg fill='%23201f21' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d1c1e' cx='50' cy='500' r='50'/%3E%3Cg fill='%231a191b' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23171618' cx='50' cy='600' r='50'/%3E%3Cg fill='%23141415' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111112' cx='50' cy='700' r='50'/%3E%3Cg fill='%230e0e0f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c0b0c' cx='50' cy='800' r='50'/%3E%3Cg fill='%23090809' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23060606' cx='50' cy='900' r='50'/%3E%3Cg fill='%23030303' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;  */
}

/* Card Styles */
.card {
  padding: 2rem;
  border-radius: 1rem;
  color: var(--white-color);
  text-align: center;
  width: 25rem;
  max-width: 100%;
  }
  .card h2{
  font-size: var(--secondary-font-size);
  margin-bottom: -2%;
  color:var(--white-color);
  }
  .card ul, .card p{
    text-align: left;
    font-size: var(--third-font-size);
    margin-left: 10%;
  }
  .card li {
      list-style-type: circle;
      margin-bottom: 4px;
  }

/* Text Line */
.text-line {
  /* border-bottom: 5px solid rgb(255, 255, 255); */
  border-bottom:6px solid var(--text-color);
  max-width: 70%;
  margin: 0 auto;
  margin-top: 4%;
  }
  /* Text Line Hover
  .card:hover .text-line{
    border-bottom: 6px solid var(--primary-color);
    } */


/* Media Container */
@media (max-width: 850px) {
  .grid-container-about {
    grid-template-columns: 0fr; 
    grid-template-rows: min-content auto; 
    height: auto; 
    margin-bottom: 15%;
  }
  .grid-right-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; 
    margin-bottom: 3rem;
    width: var(--width-right-shrink);
    /* width: 30rem; */
    height: var(--height-right-shrink);
  }
  .grid-profile{
    display: flex;
  }
  #profile-pic {
    height: auto;
    margin: 0 auto;
  }
  #profile-pic , .card{
    width: var(--width-right-shrink);
  }
  .card h2{
    font-size: var(--secondary-font-size-shrink);
    margin-bottom: -1%;
    }
  .card{
    height: 1rem;
    width: 12rem;
  }
  .card ul, .card p{
    text-align: left;
    margin-left: 0%;
    font-size: var(--third-font-size-shrink);
  }
}