/* Variables */
:root{
    --main-font-size: 7rem;
    --second-font-size: 1.5rem; 
    --third-font-size: 1.3rem;
}

/* HOME Background */
#Home.section-background {
    position: relative;
    background-image: url('../images/key_back.jpg'); 
    background-image: url('../images/back2.jpg'); 
    background-size: cover;
    background-position: center;
    width: auto;
    z-index: 1;
    height: 80vh;
  }
  #Home.section-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -2; 
  } 

/* Home */
#Home{
    height: 10rem;
} 
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    margin: 0 auto;
    margin-top: 5%;
    gap: 20px;
}
.home-text h1 { 
    font-size: var(--main-font-size);
    letter-spacing: .15em; 
    margin-left: -10%;
}
.home-text h2 { 
    font-size: var(--second-font-size);
    letter-spacing: .15em; 
    text-align: left;
}
.home-container .bot-text{
    font-size: var(--second-font-size);
}
.home-container .bot-line h1{
    font-size: var(--third-font-size);
    margin-bottom: 0%;
    margin-top: 1%;
}
.home-bot{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.article-buttons{
    display: flex;
    gap: 20px;
}
.button-articles{
    padding: 15px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: var(--button-font-size);
    cursor: pointer;
    width: 12rem;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    font-family: var(--button-font);
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
    }
  .button-articles:hover,
  .button-suggest:hover{
    transform: scale(1.05);
    color: var(--button-text-color-hover);
    background-color: var(--button-color-hover);
  }
  .home-bot .socials{
    margin-right: 10%;
  }




/* Articles */
.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--width-profile);
    background-color: var(--background-color);
    width: auto;
    margin-top: 2%;
    margin-bottom: -30%;
    }
.articles h1 {
    font-size: var(--second-font-size);
    font-weight: 500;
    }
.article-search{
    margin-bottom: 2%;
}
.article-search input{
    color: var(--background-color);
    background-color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
}
.article-search input .submit{
    color: var(--text-color);
    background-color: var(--text-color);
    cursor: pointer;
}
.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 0 auto;
}
.article-box{
    width: 25rem;
    height: 15rem;
    background-color: var(--box-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s;
}
.article-box:hover{
    transform: scale(1.20);
}
.article-box h1{
    font-size: var(--secondary-font-size);
    font-weight: 600;
    margin-top: 3%;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

/* Post */
/* Background */
#post.post-background {
  position: relative;
  background-image: url('../images/key_back.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
  z-index: 1;
}
#post.post-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: -99999; 
} 
.post{
    margin-top: 100%;
}
.post-box{
    color: var(--background-color);
    background-color: var(--text-color);
    height: 70rem;
    width: 60%;
    margin: 0 auto;
    border-radius: .2rem;
}
.post-box h1{
    font-size: 3rem;
    color: var(--primary-color);
}
.post-box h2{
    font-size: 1rem;
}
.post-content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.post-content h1,
.post-content h2,
.post-content p{
    text-align: left;
    color: var(--background-color);
}
.post-content h1{
    font-size: 2rem;
    font-weight: 300
    }
.post-content p{
    font-size: 1rem;
    font-weight: 200
    }

