:root{
  --height-input: 3rem;
  --width-input: 30rem;
  --button-width: 8rem;
}
/* Background */
#contact.section-background {
  position: relative;
  background-image: url('../images/back2.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
  z-index: 1;
}
#contact.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: -99999; 
} 

/* Contact Container */
.contact-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1%;
  margin-bottom: -5%;
}
/* H1 */
#contact h2 {
  margin-bottom: 2%;
}

/* Contact Section */
#contact{
  margin-bottom: 10%;
}

/* Submission Form */
form{
  /* background-color: var(--background-color); */
  font-family: var(--primary-font);
  display: flex;
  flex-direction: row;
  padding: 5vw 4vw;
  width: 70rem;
  border-radius: var(--border-radius);
  margin-top: -1%;
  }
  .form-column{
    flex: 1;
    padding: 20px;
  }
  form h3{
    margin-top: -10%;
    color: var(--text-color);
    font-weight: 90px;
    margin-bottom: 1%;
    display: flex;
    font-size: var(--thrid-font-size);
  }
  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: var(--text-color);
    font-size: var(--thrid-font-size);
    font-family: var(--button-font);
    height: var(--height-input);
    width: var(--width-input);
  }
  form textarea{
    height: 8rem;
  }
  #name , #email, #phone{
    padding: 17px;
  }
  #subject{
    margin-bottom: 0%;
    padding: 12px;
  }
  .subject-label{
    font-family: var(--button-font);
  }
  form label {
    margin-top: 5%;
  }
  #form-right{
    margin-top: -4.6%;
  }
/* Form Bottom */
.form-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/* Remove Underline */
.form-bot a {
  text-decoration: none;
}

/* Contact Buttons */
.contact-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 1%;
  margin-top: -5%;
}

/* Form Button */
#submit, #resume{
  text-decoration: none;
  font-size: var(--button-font);
  padding: 12px;
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  border: 0;
  outline: none;
  cursor: pointer;
  width: var(--button-width);
  margin-top: 1%;
  border-radius: var(--border-radius);
  background-color: var(--button-color);
  font-family: var(--button-font);
}

#submit:hover, #resume:hover {
  transition: transform 0.3s ease; 
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
  transform: scale(1.15);
}
#resume:hover{
  background-color: var(--text-color);
  color: var(--button-text-color);
}
/* Resume Download */
#resume{
  border-radius: 2rem;
  background-color: var(--button-color-hover);
  color: var(--text-color);
}

.resume-download{
  margin-top: -40%;
}

/* Media Container For Buttons and Icons*/
@media (max-width: 850px) {
  #contact h1{
    margin-bottom: 6%;
  }
  /* Contact Container */
  .contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form{
    width: 80%;
    height: auto;
    margin-bottom: -10%;
    margin-top: 2%;
    font-size: var(--third-font-size-shrink);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
  }
  form h3{
    margin-top: -2%;
    font-size: var(--third-font-size-shrink);
  }
  #contact h2{
    margin-top: -4%;
    margin-bottom: 3%;
    font-size: var(--secondary-font-size-shrink);
  }
  #submit, #resume {
    margin-bottom: 40px;
    font-size: var(--button-font-shrink);
    color: var(--background-color);
    align-items: center;
  }
  #resume {
    font-size: var(--button-font-shrink);
    color: var(--text-color);
  }
  .contact-buttons{
    gap: 60px;
  }
  form h3{
    margin-top: -10%;
    color: var(--text-color);
    font-weight: 90px;
    margin-bottom: 1%;
    font-size: var(--thrid-font-size);
  }
  form input, form textarea{
    height: 2rem;
    width: 20rem;
  }
  form textarea{
    height: 8rem;
  }
  #name , #email, #phone{
    padding: 17px;
  }
  #subject, #resume{
    margin-bottom: 0%;
    padding: 5px;
  }
  .subject-label{
    font-family: var(--button-font);
  }
  form label {
    margin-top: 5%;
  }
  #form-right{
    margin-top: -4.6%;
  }
}