/* Contact Container */
.contact-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1%;
}

/* Submission Form */
form{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%233A383C' cx='50' cy='0' r='50'/%3E%3Cg fill='%23373539' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343236' cx='50' cy='100' r='50'/%3E%3Cg fill='%23313033' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e2d30' cx='50' cy='200' r='50'/%3E%3Cg fill='%232c2a2d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2329272a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23262427' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232224' cx='50' cy='400' r='50'/%3E%3Cg fill='%23201f21' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d1c1e' cx='50' cy='500' r='50'/%3E%3Cg fill='%231a191b' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23171618' cx='50' cy='600' r='50'/%3E%3Cg fill='%23141415' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111112' cx='50' cy='700' r='50'/%3E%3Cg fill='%230e0e0f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c0b0c' cx='50' cy='800' r='50'/%3E%3Cg fill='%23090809' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23060606' cx='50' cy='900' r='50'/%3E%3Cg fill='%23030303' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain; 
  /* background: rgb(0,0,0); */
  /* background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgb(32, 32, 33) 35%, rgb(46, 46, 46) 100%); */
  /* background-color: var(--box-color); */
  border: 1px solid var(---color);
  font-family: var(--button-font);
  display: flex;
  flex-direction: column;
  padding: 5vw 4vw;
  width: 45rem;
  max-width: 800px;
  border-radius: 1.5rem;
  }
  form h3{
    margin-top: -10%;
    color: var(--white-color);
    font-weight: 90px;
    margin-bottom: 0%;
    display: flex;
    font-size: 1rem;
  }
  form input, form textarea{
    border: 0;
    margin: 7px 0;
    padding: 20px;
    outline: none;
    background: var(--white-color);
    font-size: 17px;
    font-family: var(--button-font)
  }

  #name , #email, #phone{
    padding: 17px;
  }

  #subject{
    margin-bottom: 0%;
    padding: 12px;
  }
  .subject-label{
    font-family: var(--button-font);
  }
  form label {
    margin-top: 5%;
  }


/* Form Bottom */
.form-bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/* Remove Underline */
.form-bot a {
  text-decoration: none;
}
/* Form Button */
form button{
  padding: 15px;
  color: var(--black-color);
  font-size: 26px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
  border-radius: .5rem;
  background-color: var(--white-color);
  font-family: var(--button-font);
}

/* form button:first-letter {
  color: var(--primary-color);
} */

button:hover{
  background-color: var(--main-color);
  transform: scale(1.05);
  color:var(--white-color);
}

/* Media Container For Buttons and Icons*/
@media (max-width: 650px) {
  form{
    width: 80%;
    height: auto;
    margin-bottom: -20%;
  }
  .form-bot {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
  }
  form h3{
    margin-top: .5%;
  }
  form button {
    margin-bottom: 40px;
    font-size: 1rem;
  }
}