:root{
  --margin-bottom: 1%
}

/* Background */
#copyright.copyright-background {
  position: relative;
  /* background-image: url('../images/back2.jpg');  */
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  height: 10vh;
  width: auto;
  z-index: 1;
}
#copyright.copyright-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89); 
  z-index: -2; 
} 

/* Copyright */
#copyright { 
  color: var(--text-color);
  font-size: var(--third-color);
  text-align: center;
}

/* Footer Container */
.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

/* Footer Links */
.footer-links, .footer-text{
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: .5s;
}

/* Footer Links */
.footer-links {
  margin-bottom: var(--margin-bottom);
  display: flex;
  gap: 20px;
  margin-top: 1%;
}

.footer-text{
  gap: 15px;
}

.links h2{
  font-weight: var(--thrid-weight);
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* Footer Links Items */
.footer-links li, .footer-text li {
  position: relative; 
  font-size: 1.23em;
}

/* Footer Links Anchor */
.footer-links li a, 
.footer-text li a,
.footer-links li a i{
  color: var(--text-color);
  text-decoration: none;
  transition: .3s;
}

/* Footer Links Anchor Hover */
.footer-text li a:hover, .footer-links i.fa-2xl:hover{
  color: var(--button-color-hover);
  background-color: transparent;
}

/* Media Container For Footer Links */
@media (max-width: 850px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin: 0 auto;
    margin-top: 5%;
  }
  #copyright, .footer-links, .links{
    font-size: var(--third-font-size-shrink);
  }
  .footer-links li a i{
    font-size: 2rem;
  }
}

/* Media Container For Footer Links */
@media (max-width: 350px) {
  .footer-links, .footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* Add some spacing between the stacked items */
  .footer-links li a i {
    margin-bottom: 20px;
  }
  #copyright, .footer-links, .links{
    font-size: var(--third-font-size-shrink);
  }
}