/* Copyright */
#copyright { 
  margin-top: -8%;
  color: var(--white-color);
  font-size: 1.5rem;
  text-align: center;
}

/* Footer Links */
.footer-links {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Footer Links Items */
.footer-links li {
  position: relative; 
  margin-right: 20px; 
  color: var(--white-color);
}

/* Footer Links Anchor */
.footer-links li a {
  color: var(--white-color);
  text-decoration: none;
}

/* Footer Links Anchor Hover */
.footer-links li a:hover {
  color: var(--primary-color);
}

/* Media Container For Footer Links */
@media (max-width: 650px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #copyright, .footer-links{
    font-size: 1.2rem;
  }
}

/* Media Container For Footer Links */
@media (max-width: 400px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Add some spacing between the stacked items */
  .footer-links li {
    margin-bottom: 10px;
  }
}