/* Copyright */
#copyright { 
  margin-top: -8%;
  color: var(--white-color);
  font-size: 1.2rem;
  text-align: center;
  font-size: 1.5rem;
  }

/* Footer Links */
  #copyright ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  }
  #copyright ul li {
  position: relative; 
  margin-right: 20px; 
  color: var(--white-color);
  }
  #copyright ul li a{
    color: var(--white-color);
  }
  #copyright ul li a:hover{
    color:var(--primary-color);
  }