/* Profile */
.profile {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0%;
    margin-left: 5%;
    }
    .profile-text {
      height: 100%;
      margin-bottom: 6%;
    }
    .profile-text .hi {
      font-size:9rem; 
      max-width: 50%;
      margin-bottom: 8%;
      margin-top: 3%;
    }
    .profile-text .name {
      font-size: 9rem; 
      max-width: 100%;
      margin-bottom: 3%;
      margin-top: -8%;
      margin-right: 5%;
      color: var(--primary-color)
    }
    .profile-text .bot {
      font-size: 1.5rem; 
      margin-bottom: 0%; 
      margin-top: 0px;
      color: var(--profile-text);
      margin-right: 3%;
    }
    .button-link {
      padding: 20px;
      background-color: var(--profile-text);
      color: rgb(0, 0, 0);
      font-size: 25px;
      cursor: pointer;
      width: 15rem;
      border-radius: .5rem;
      text-decoration: none;
      text-align: center;
      font-family: var(--button-font);
      display: block; 
      margin: 0% auto;
      margin-bottom: 10%;
    }
    .button-link:hover{
      background-color: var(--primary-color);
      color: var(--white-color);
  }
    /* lines for text */
    .line {
      font-weight: bold;
      color: var(--primary-color);
      margin-left: .5%;
      margin-right: .5%;
    }

/* Media Container For Profile  */
@media(max-width:850px){
    .profile-text .hi{
      font-size: 4.2rem;
      margin-bottom: 100px;
    }
    .profile-text .name{
      font-size: 4.2rem;
      margin-bottom: 100px;
    }
    .profile-text .bot{
      font-size: 1.2rem;
      margin-bottom: 50px;
    }
    .profile .button-link{
        padding: 16px;
        font-size: 1.3rem;
        width: 12rem;
    }
}