:root{
  --margin-bottom-home: 6%;
}
/* Background */
#Home.section-background {
  position: relative;
  background-image: url('../images/key_back.jpg'); 
  background-image: url('../images/back2.jpg'); 
  background-size: cover;
  background-position: center;
  width: auto;
  z-index: 1;
  height: 100vh;
}
#Home.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: -2; 
} 

/* Profile */
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-left: 5%;
    }
    .profile-text {
      height: 100%;
      margin-bottom: 5%;
    }
    .profile-text .hi {
      font-size: var(--home-font-size);
      max-width: 50%;
      margin-bottom: 10%;
      margin-top: 3%;
      margin-left: -20%;
    }
    .profile-text .name {
      font-size: var(--home-font-size);
      max-width: 100%;
      margin-bottom: 10%;
      margin-top: -8%;
      /* margin-right: 5%; */
      background-color:var(--name-color);
      border-radius: var(--border-radius);
    }
    .profile-text .name:nth-child(1){
      color: var(--resume-color);
    }
    .profile-text .bot {
      font-size: var(--secondary-font-size);
      margin-bottom: 0%; 
      margin-top: 0px;
      color: var(--text-color);
      margin-right: 3%;
      overflow: auto;
      white-space: nowrap;
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    }    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: rgb(255, 255, 255); }
    }

    .button-link{
      padding: 20px;
      background-color: var(--button-color);
      color: var(--button-text-color);
      font-size: var(--button-font-size);
      cursor: pointer;
      width: 15rem;
      border-radius: .5rem;
      text-decoration: none;
      text-align: center;
      font-family: var(--button-font);
      display: block; 
      margin: 0% auto;
      margin-bottom: 10%;
      transition: transform 0.3s ease;
      cursor: grab;
      z-index: 1;
    }
  .button-link:hover{
    transform: scale(1.05);
    color: var(--button-text-color-hover);
    background-color: var(--button-color-hover);
  }
  
  /* lines for text */
  .line {
    font-weight: bold;
    color: var(--resume-color);
    margin-left: .5%;
    margin-right: .5%;
  }

/* Change Navbar Background on Click */
.navbar.black-background {
  background-color: var(--background-color);
}

/* Media Container For Profile  */
@media(max-width:1080px){
  .profile{
    margin-left: 5%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    }
    .profile-text .hi{
      font-size: var(--home-font-size-shrink);
      margin-bottom: 70px;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: var(--margin-bottom-home);
    }
    .profile-text .name{
      font-size: var(--home-font-size-shrink);
      margin-bottom: 100px;
      margin: 0 auto;
      background-color: transparent;
      margin-bottom: var(--margin-bottom-home);
    }
    .profile-text .bot{
      font-size: var(--secondary-font-size-shrink);
      margin-bottom: 50px;
      max-width: 800px;
      margin-left: 16%;
      margin-right: 20%;
      margin: 0 auto;
      margin-bottom: var(--margin-bottom-home);
      animation: none;
      word-wrap: normal;
      overflow: auto;
      white-space: nowrap;

    }
    .profile .button-link, #resume{
        padding: 16px;
        font-size: var(--button-font-size-shrink);
        width: 12rem;
        margin: 0 auto;
        margin-bottom: 10%;
    }
}

/* Shrink on text */
@media(max-width:503px){
  .profile-text .hi, .profile-text .name{
    font-size: 3rem;
  }
  .profile-text .hi{
    margin-top: 40%;
  }
  .profile-text .bot{
    font-size: .7rem;
  }
  .profile .button-link{
    font-size: .7rem;
    height: auto;
    width: auto;
  }
  
}


@media (width:2560px) {
  .profile-text .hi, .profile-text .name{
    font-size: 10rem;
  }  
  .profile-text .hi{
    margin-top: 4%;
  }
  .profile-text .bot{
    font-size: 2.7rem;
  }
  .profile .button-link{
    font-size: 1.4rem;
    width: 100%;
  }
}