:root{
  --margin-bottom-home: 6%;
}

/* Profile */
.profile {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
    }
    .profile-text{
      margin-left: 4%;
    }
    .intro{
      font-size: var(--secondary-font-size);
      font-weight: var(--third-weight);
    }
    .profile .hi, .profile .name{
      font-weight: var(--main-weight);
    }
    .profile-text .hi {
      font-size: var(--home-font-size);
      text-align: left;
    }
    .profile-text .name {
      font-size: var(--home-font-size);
      letter-spacing: .03em;
    }
    .profile-text span{
      color: var(--primary-color);
    }
    .bot-line{
      width: 40rem;
      text-align: left;
    }
    .bot-line .bot {
      font-size: var(--secondary-font-size);
      letter-spacing: .15em; 
      font-weight: var(--third-weight);
      text-align: left;
    }   
    .profile-intro{
      width: 40rem;
      margin-top: -1.5%;
    }
    /* Bottom Row */
    .bottom-row{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 200px;
    }
    .home-buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .button-link,
    .button-hire{
      padding: 15px;
      background-color: var(--button-color);
      color: var(--button-text-color);
      font-size: var(--button-font-size);
      cursor: pointer;
      width: 10rem;
      border-radius: .5rem;
      text-decoration: none;
      text-align: center;
      font-family: var(--button-font);
      display: block; 
      margin: 0% auto;
      margin-bottom: 10%;
      transition: transform 0.3s ease;
      cursor: pointer;
      z-index: 1;
    }
  .button-link:hover,
  .button-hire:hover{
    transform: scale(1.05);
    color: var(--button-text-color-hover);
    background-color: var(--button-color-hover);
  }
  .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: calc(var(--secondary-font-size) *.7);
  }
  .socials li{
    list-style-type: none;
  }
  .socials li a i{
    text-decoration: none;
    color: var(--text-color);
  }
  
  /* lines for text */
  .line {
    font-weight: 700;
    color: var(--primary-color);
    margin-left: .5%;
    margin-right: .5%;
  }

/* Change Navbar Background on Click */
.navbar.black-background {
  background-color: var(--background-color);
}

/* Media Container For Profile  */
@media(max-width:850px){
  .profile-text .name{
    margin-top: -27px;
  }
  .profile-text .bot{
    margin-top: -14px;
  }
}

@media(max-width:850px){
    .profile-text .hi{
      font-size: var(--home-font-size-shrink);
    }
    .profile-text .name{
      font-size: var(--home-font-size-shrink);
      margin-top: -4%;
    }
    .bot-line .bot{
      font-size: 1rem;
    }
    .profile-intro{
      width: 28rem;
    }
    .profile{
      gap: 20px
    }
}