* {
  box-sizing: border-box;
}

/* Projects Section */
#projects {
  text-align: center;
  align-items: center;
  z-index: 0; 
  margin-bottom: 4%;
}
#projects h2{
  margin-bottom: 1.5%;
}

/* Styles for the scroll menu */
.scrollmenu {
  overflow-x:auto;
  width: 100%;
  }
  /* Project Horizontal Scroll Bar*/
  .scrollmenu::-webkit-scrollbar{
    width: .3rem;
  }
  .scrollmenu::-webkit-scrollbar:hover {
    transform: scale(3);
  }
  .scrollmenu::-webkit-scrollbar-track-piece:end{
    margin-right: 20rem;
  }
  .scrollmenu::-webkit-scrollbar-track-piece:start{
    margin-left: 36rem;
}

/* Grid Container and Image*/
.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
  z-index: 0; 
  justify-content: center;
  margin-bottom: 2%;
  margin: 0 auto;
  min-width: 2540px; 
  margin-left: 4%;
 }
  .grid-container img {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(240px, 3fr));
    margin-top: 5%;
    background-color: var(--white-color);
    height: 15rem;
    width: 100%;
    z-index: 0;
    border-radius: .9rem;
}

/* Boxes */
.box {
  position: relative;
  color: var(--white-color);
  padding: 40px;
  height: 40rem;
  width: 32rem;
  border-radius: .8rem;
  transition: transform 0.3s ease;
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgb(32, 32, 33) 35%, rgb(46, 46, 46) 100%);
  /* margin-right: 5%; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%233A383C' cx='50' cy='0' r='50'/%3E%3Cg fill='%23373539' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343236' cx='50' cy='100' r='50'/%3E%3Cg fill='%23313033' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e2d30' cx='50' cy='200' r='50'/%3E%3Cg fill='%232c2a2d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2329272a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23262427' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232224' cx='50' cy='400' r='50'/%3E%3Cg fill='%23201f21' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d1c1e' cx='50' cy='500' r='50'/%3E%3Cg fill='%231a191b' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23171618' cx='50' cy='600' r='50'/%3E%3Cg fill='%23141415' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111112' cx='50' cy='700' r='50'/%3E%3Cg fill='%230e0e0f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c0b0c' cx='50' cy='800' r='50'/%3E%3Cg fill='%23090809' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23060606' cx='50' cy='900' r='50'/%3E%3Cg fill='%23030303' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%233A383C'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover; */
  margin-bottom: 10%;
}


/* TRY HOVER - IT WAS BEHIND GRID */
  /* .box:hover{
    transform: scale(1.01); 

  } */

  .box h2 {
    margin-top: -6%;
    margin-bottom: 0%;
    color: var(--white-color);
  }
  .box p {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0%;
    margin-top: 1%;
    word-break: break-all;
    white-space: normal;
  }
  .box h3{
    text-align: left;
    margin-bottom: 0%;
    margin-top: 4%;
    
}

  /* Button */
  .button-project {
    margin-bottom: 10%;
    padding: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size:25px;
    cursor: pointer;
    width: 15rem;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    font-family: var(--button-font);
    display: block; 
    margin: 0 auto; 
    transition: transform 0.3s ease; 
  }
      .button-project:hover{
        background-color:var(--primary-color);
        color: var(--white-color);
  }

/* Icon Chevron
/* Target both buttons with the class 'scrollmenu' */
.scrollmenu button {
  position: relative;
  background-color: transparent;
  outline: none; 
  box-shadow: none;
  cursor: pointer;
  border: none;
  background-color: var(--white-color);
  height: 2.1rem;
  border-radius: 2rem;
  z-index: 9999;
}
/* Icon */
button i.fa-2xl {
  justify-content: flex-start; 
  align-items: center;
  display: flex;
  font-size: 2rem;
  z-index: 999;
  color: var(--black-color);
  }
  /* Button Hover */
  button i.fa-2xl:hover {
  color: var(--white-color);
  }
  /* Button Hover */
  button:hover, i.fa-2xl:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
/* Target the buttons individually by their aria-label attribute */
#button-left {
  display: none;
  position: absolute;
  left: 2%;
}

#button-right{
  position: absolute;
  z-index: 9999;
  right: 2%;
} 

/* Text Line */
.text-line-project {
  border-bottom:4px solid white;
  max-width: 20%;
  margin-top: 0%;
  }
  /* Text Line Hover */
  .box:hover .text-line-project{
  border-bottom:4px solid var(--primary-color);
}

/* Media Container For Projects Section */
@media (max-width: 850px) {
  /* Projects Section */
  #projects {
    text-align: center;
    align-items: center;
    z-index: 0; 
 }
  /* Project Horizontal Scroll Bar*/
  .scrollmenu::-webkit-scrollbar-track-piece:end{
    margin-right: 10rem;
  }

  .scrollmenu::-webkit-scrollbar-track-piece:start{
    margin-left: 10rem;
}
 /* Grid Container */
 .grid-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 2000px;
  gap: 2%;
  /* margin-left: -140%; */
 }
  /* Boxes */
  .box {
    flex: 1 1 250px; /* Allow the boxes to grow and shrink to fit the container */
    margin-top: 1%;
    position: relative;
    color: var(--white-color);
    padding: 10px;
    width: 250px;
    min-width: 100px;
    max-width: 350px;
    margin-bottom: 2%;
  }
  .box:hover {
    background-color: transparent;
  }
  .box h2 {
    margin-top: 1%;
    font-size: .8rem;
  }
  .box p {
    text-align: left;
    font-size: .8rem;
    margin-bottom: 0%;
    margin-top: 1%;
    word-break: break-all;
    white-space: normal;
  }
  .box h3{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0%;
    margin-top: 4%;
  }
  /* Text */
  .text-line-project {
    border-bottom:4px solid white;
    max-width: 20%;
    margin-top: 0%;
    }
    /* Button */
    button i.fa-2xl {
      font-size: 2rem;
      z-index: 999;
      color: var(--black-color);
      }
  #button-right{
    display: none;
  }
  }