* {
  box-sizing: border-box;
}
/* Background */
#projects.section-background {
  position: relative;
  background-image: url('../images/psg.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
  z-index: 1;
}
#projects.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); 
  z-index: -99999; 
} 
/* Projects Section */
#projects {
  z-index: 0; 
  margin-bottom: 0%;
  width: 100%;
}
#projects h2{
  margin-bottom: 1.5%;
}

/* Grid Container and Image*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    position: relative;
    width: 80%;
    gap: 40px;
    }

  .box-text img {
    background-color: var(--text-color);
    height: 50%;
    width: 90%;
    z-index: 0;
    border-radius: var(--border-radius);
    border: none;
    margin: 0 auto;
    display: flex;
}

/* Boxes */
.box {
  /* position: relative; */
  color: var(--white-color);
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--box-color);
  font-size: var(--thrid-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition: all 0.3s ease;
}
  .box-text{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .box h2 {
    color: var(--text-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--second-weight);
  }
  .box p {
    text-align: left;
    font-size: var(--third-font-size);
    word-break:normal;
    white-space: normal;
    font-weight: var(--third-weight);
  }
  .box h3{
    text-align: left;
  }
  .box:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

/* Text Line */
.text-line-project {
  border-bottom:2px solid var(--text-color);
  max-width: 20%;
  margin-top: 0%;
  }
/* Media Container For Projects Section */
@media (max-width: 850px) {
   .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 22rem;
   }
   .grid-container{
    width: 90%;
   }
   .box-text{
    width: 100%;
   }
   .prj-img{
    display: none;
   }
   .box-text h2{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    font-size: 1.8rem;
    font-weight: 600;
   }
   }
