* {
  box-sizing: border-box;
}
/* Background */
#projects.section-background {
  position: relative;
  background-image: url('../images/key_back.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
  z-index: -99999;
}
#projects.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  z-index: -99999; 
} 
/* Projects Section */
#projects {
  text-align: center;
  align-items: center;
  z-index: 0; 
  margin-bottom: 0%;
}
#projects h2{
  margin-bottom: 1.5%;
}

/* Grid Container and Image*/
.grid-container {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
  z-index: 0; 
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2%;
 }
  .grid-container img {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(240px, 1fr));
    margin-top: 5%;
    background-color: var(--text-color);
    height: 12rem;
    width:100%;
    z-index: 0;
    border-radius: var(--border-radius);
}

/* Boxes */
.box {
  /* position: relative; */
  color: var(--white-color);
  padding: 40px;
  height: 40rem;
  width: 30rem;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease;
  background-color: var(--box-color);
  margin-bottom: 5%;
  font-size: var(--thrid-font-size);
  }

  /* TRY HOVER - IT WAS BEHIND GRID */
  .box:hover{
    transform: scale(1.08); 
  }

  .box h2 {
    margin-top: -6%;
    margin-bottom: 0%;
    color: var(--text-color);
    font-size: var(--secondary-font-size);
  }
  .box p {
    text-align: left;
    font-size: var(--third-font-size);
    margin-bottom: 0%;
    margin-top: 1%;
    word-break: break-all;
    white-space: normal;
  }
  .box h3{
    text-align: left;
    margin-bottom: 0%;
    margin-top: 4%;
}

  /* Button */
  .button-project {
    margin-bottom: 10%;
    padding: 20px;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size:var(--button-font-size);
    cursor: pointer;
    width: 15rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
    font-family: var(--button-font);
    display: block; 
    margin: 0 auto; 
    transition: transform 0.3s ease; 
  }
  .button-project:hover{
    background-color:var(--primary-color);
    color: var(--text-color);
  }

/* Icon Chevron
/* Target both buttons with the class 'scrollmenu' */
.scrollmenu button {
  position: relative;
  background-color: transparent;
  outline: none; 
  box-shadow: none;
  cursor: pointer;
  border: none;
  background-color: var(--text-color);
  height: 2.1rem;
  border-radius: var(--border-radius);
  z-index: 9999;
}
/* Icon */
button i.fa-2xl {
  justify-content: flex-start; 
  align-items: center;
  display: flex;
  font-size: var(--thrid-font-size);
  z-index: 999;
  color: var(--background-color);
  }
  /* Button Hover */
  button i.fa-2xl:hover {
  color: var(--text-color);
  }
  /* Button Hover */
  button:hover, i.fa-2xl:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
/* Target the buttons individually by their aria-label attribute */
#button-left {
  display: none;
  position: absolute;
  left: 2%;
}

#button-right{
  position: absolute;
  z-index: 9999;
  right: 2%;
} 

/* Text Line */
.text-line-project {
  border-bottom:2px solid var(--text-color);
  max-width: 20%;
  margin-top: 0%;
  }

/* Media Container For Projects Section */
@media (max-width: 850px) {
  /* Projects Section */
  #projects {
    margin-top:25rem;
    text-align: center;
    align-items: center;
    z-index: 0; 
    margin-bottom: -30%;
 }
 /* Grid Container */
 .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: -140%; */
    margin-top: 5%;
  }
  /* Boxes */
  .box {
    position: relative;
    color: var(--text-color);
    padding: 10px;
    width: 20rem;
    height: 35rem;
  }
  #box1{
    margin-left: -2.5%;
  }
  .box h2 {
    margin-top: 1%;
    font-size: var(--secondary-font-size-shrink);
  }
  .box p {
    text-align: left;
    font-size: var(--third-font-size-shrink);
    margin-bottom: 0%;
    margin-top: 1%;
    /* word-break: break-all; */
    word-wrap: normal;
    white-space: normal;
    text-align: left;
  }
  .box h3{
    text-align: left;
    font-size: var(--secondary-font-size-shrink);
    margin-bottom: 0%;
    margin-top: 4%;
  }
  /* Text */
  .text-line-project {
    max-width: 20%;
    margin-top: 0%;
  }
  /* Button */
  button i.fa-2xl {
    font-size: var(--thrid-font-size-shrink);
    z-index: 999;
    color: var(--background-color);
  }
  #button-right{
    display: none;
  }
  .box:hover{
    transform: none; 
  }
}