/* Set Color Variables */
:root {

  /* Font Style */
  --primary-font: 'Montserrat', 'sans';
  --button-font: 'Montserrat', 'sans';
  --primary-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --button-font: var(var(--primary-font));

  /* Font Size */
  --home-font-size: 7.7rem;
  --primary-font-size: 3.5rem;
  --secondary-font-size: 1.4rem;
  --third-font-size: calc(var(--secondary-font-size) / 1.5);
  --button-font-size:1.2rem;

  /* Font Size - Shrink*/
  --home-font-size-shrink: 7rem;
  --primary-font-size-shrink: 2.7rem;
  --secondary-font-size-shrink: 1rem;
  --third-font-size-shrink: calc(var(--secondary-font-size-shrink) / 1.2);
  --button-font-size-shrink:1rem;

  /* Colors */
  --primary-color: #282859;
  --primary-color: rgba(61, 61, 231, 0.755);
  --secondary-color: #F4F3EE;
  --text-color: #ffffff;
  --background-color: #000000;
  --box-color: rgb(21, 21, 145, .22);
  /* --name-color: rgb(255, 255, 2555, .7); */
  --resume-color:rgb(21, 233, 106);
  --resume-color: var(--primary-color);
  /* --primary-color:rgb(21, 233, 106); */

  /* Buttons */
  --button-color: #ffffff;
  --button-text-color: rgb(0, 0, 0);
  --button-color-hover: var(--primary-color);
  --button-text-color-hover: rgb(255, 255, 255);

  /* Font Weights */
  --main-weight: bolder;
  --second-weight: 400;
  --third-weight: 200;

  /* Other */
  --max-width: 650px;
  --border-radius: .2rem;
}


/* HOME Background */
#Home.section-background {
  position: relative;
  background-image: url('../images/key_back.jpg'); 
  background-image: url('../images/back2.jpg'); 
  background-size: cover;
  background-position: center;
  width: auto;
  z-index: 1;
  height: 100vh;
}
#Home.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: -2; 
} 

/* Home Section Name
.profile-text .name span {
  background-image: 
    linear-gradient(to right, var(--primary-color), var(--text-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  background-position: 0; 
} */


/* Body */
body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
  max-width: 100%;
  max-height: 100%;
}

/* Gradient Overlay */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%);
  z-index: -1; 
}

/* width */
::-webkit-scrollbar {
  width: .3rem;
  height: 0rem;
  overflow:wrap;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 20rem;
  background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 2rem;
}

/* NAV BAR */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--button-font);
  background-color: rgba(0, 0, 0);
  color: var(--text-color);
  width: 100%;
  z-index: 999;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  /* font-size: 1.5rem; */
  transition: transform 0.3s ease-out;
  }
  .navbar .name img{
    height: 3rem;
    width: auto;
    margin-left: 20%;
    margin-top: 3%;
  }
  .navbar .name::first-letter{
    color: var(--primary-color);
  }
 .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .navbar-links li {
    list-style: none;
  }
  .navbar-links li a {
    color:var(--text-color);
    text-decoration: none;
    font-size: 25px;
    padding: 1rem;
    display: block;
    transition: .3s;
  }
  .navbar-links a:hover,
  .navbar-links a.active {
    text-decoration: none; 
    display: block;
    color: var(--primary-color);
  }
  /* Add a class to hide the nav bar when scrolling down */
  .navbar--hidden {
  transform: translateY(-50px);
  box-shadow: none;
}

/* Toggle Button */
.toggle-button{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  }
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 2rem;
  }

/* SECTION */
  section {
    padding: 100px 0;
  }
  section h1 {
    text-align: center;
    font-size: var(--primary-font-size);
    margin-bottom: 1%;
    margin-top: -2%;
    font-weight: var(--main-weight);
  }
  section h2{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: var(--secondary-font-size);
    font-weight: var(--third-weight);
  }

/* Media Container for NAV bar and Body Text */
@media(max-width:850px){
  /* Nav Bar Styling */
  .toggle-button{
    display: flex;
    top: .7rem;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgba(0, 0, 0, 1); */
    z-index: 99999;
  }
  .navbar .name{
    font-size: 2rem;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;   
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active, .navbar.active{
    display: flex;
    background-color: var(--background-color);
  }
  /* Body Styling */
  section h1{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: var(--primary-font-size-shrink);
  }
  section h2{
    margin-bottom: 4%;
    font-size: var(--secondary-font-size-shrink);
  }
}