* {
    margin:0;
    padding:0;
}

/* Body Background */
body {
    margin-top: 5%;
    background-color: var(--black-color);
    color: var(--box-color);
}

/* Div Container */
.thanks h1 {
    font-size: 4rem;
    font-family: var(--primary-font);
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1%;
}
.thanks h2{
    font-size: 3rem;
    font-family: var(--primary-font);
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 3%;
}

/* Button */
.button-home {
    margin-bottom: 10%;
    padding: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 25px;
    cursor: pointer;
    width: 15rem;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    font-family: var(--main-font);
    display: block;
    margin: 0 auto;
}

.button-home:hover {
    background-color:var(--primary-color);
    color: var(--white-color);
}

/* ID Quote Box */
.quote-box {
    /* background-color: rgb(87, 96, 141); */
    width: 40%; 
    height: 35%; 
    color: var(--white-color);
    font-family: var(--button-font);
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 2%;
}

/* ID Quote Text */
#quote-text {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
}